{% extends 'utils/base.html' %}

{% block title %}Home - Real Estate Marketplace{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Real Estate Marketplace</h1>
    <p class="lead">Discover your dream property with ease.</p>
    <hr class="my-4">
    <p>Browse through our extensive list of properties or list your own property.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Browse Properties</a>
</div>
{% endblock %}
